<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="100">
    <div>
      <h3>{{dish.name | uppercase}}</h3>
      <hr>
    </div>
  </div>


  <div fxFlex="40">
  	<mat-card *ngIf="dish" >
  		<mat-card-header>
  			<mat-card-title>
  				<h3> {{dish.name | uppercase}} </h3>
  			</mat-card-title>
  		</mat-card-header>
  		<img mat-card-image src="{{dish.image}}" alt="{{dish.name}}">
  		<mat-card-content>
  			<p> {{dish.description}} </p>
  		</mat-card-content>
  		<mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
  			<button mat-button>LIKE</button>
  			<button mat-button>SHARE</button>
  		</mat-card-actions>
  	</mat-card >
  </div>



    <div fxFlex="40"
     fxLayout="column"
     fxLayoutGap="20px">
  	<mat-list fxFlex *ngIf="dish">
  		<h3>Comments</h3>
    	<mat-list-item *ngFor="let comment of dish.comments">
     	<p >
     	<span matLine>{{comment.comment}}</span>  
     	<span matLine>{{comment.rating}} Stars</span> 
     	<span matLine>--{{comment.author}} {{comment.date | date}}</span>
     	</p>
    	</mat-list-item>
  	</mat-list>


  </div>

</div>